<div class="jumbotron center">
	<h1>Welcome to my new web app</h1>
	<p>How lame is this?</p>
	<%= link_to "Login", root_path, class: 'btn btn-default'%>
	<%= link_to "Join", root_path, class: 'btn btn-primary'%>
</div>